body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f0f0f0;
  /* font-size: 16pt; */
}

.main-container {
  flex: none;
  width: 600px;
  margin: 0 auto;
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
  background-color: #ffffff;
  transition: box-shadow 0.3s ease;
}

.header {
  padding: 20px;
}
.header-title {
  font-size: 30pt;
  font-weight: bold;
  /* text-align: center; */
  color: rgb(0, 81, 255);
}

#uploading {
  display: none;
  margin: 0;
  text-align: center;
  font-size: 20pt;
  font-weight: bold;
  color: red;
}

.form-container {
  margin: 0 auto;
  padding: 20px;
}

.input-group {
  margin-top: 30px;
  display: flex;
  justify-content: flex-start;
}

.horizontal-line {
  margin-top: 30px;
  border: 1px solid #e0e0e0;
}

.submit-button {
  margin-top: 30px;
  display: flex;
  justify-content: flex-start;
  background-color: rgb(0, 81, 255);
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

@media (max-width: 750px) {
  .main-container {
    width: 80%;
    border-radius: 0;
  }
  .header-title {
    font-size: 20pt;
  }
  .form-container {
    padding: 10px;
  }
  .input-group {
    margin-top: 20px;
  }
  .horizontal-line {
    margin-top: 20px;
  }
  .submit-button {
    margin-top: 20px;
  }
}
