<!DOCTYPE html>
<html>
  <head>
    <title>Video Upload</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='css/styles.css') }}"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
      $(document).ready(function () {
        $("input[type=radio][name=source]").change(function () {
          if (this.value == "youtube") {
            $("#youtube-group").show();
            $("#file-group").hide();
          } else if (this.value == "file") {
            $("#file-group").show();
            $("#youtube-group").hide();
          }
        });
      });
    </script>
  </head>

  <body>
    <div class="main-container">
      <div class="header">
        <div class="header-title">影片自動字幕產生器</div>
      </div>
      <div id="uploading" style="display: none">
        上傳中，請勿關閉視窗或重複提交表單。
      </div>
      <div class="form-container">
        <form method="POST" action="/upload" enctype="multipart/form-data">
          <div class="input-group">
            <label>影片來源：</label>
            <div>
              <input
                type="radio"
                id="file"
                name="source"
                value="file"
                checked
              />
              <label for="file">上傳檔案（.mp4）</label>
              <input type="radio" id="youtube" name="source" value="youtube" />
              <label for="youtube">YouTube 連結</label>
            </div>
          </div>

          <div id="youtube-group" class="input-group" style="display: none">
            <input type="text" name="youtube" placeholder="輸入YouTube連結" />
          </div>

          <div id="file-group" class="input-group">
            <input type="file" name="file" accept=".mp4" />
          </div>

          <div class="input-group">
            <label>SRT 字幕檔 (不指定會自動辨識)：</label>
            <input type="file" name="srt" accept=".srt" />
          </div>

          <div class="input-group">
            <label>選擇影片原始語言：</label>
            <select name="language">
              <option value="chinese">中文</option>
              <option value="english">English</option>
            </select>
          </div>

          <div class="input-group">
            <label for="subtitle_color">選擇字幕顏色：</label>
            <input
              type="color"
              id="subtitle_color"
              name="subtitle_color"
              value="#FFFFFF"
            />
          </div>

          <div class="input-group" id="opening-input" style="display: none">
            <label>上傳片頭影片：</label>
            <input type="file" name="opening" accept=".mp4" />
          </div>

          <div class="input-group" id="ending-input" style="display: none">
            <label>上傳片尾影片：</label>
            <input type="file" name="ending" accept=".mp4" />
          </div>
          <!-- 新增的欄位結束 -->

          <div class="input-group">
            <label>Initial Prompt：</label>
            <input
              type="text"
              name="prompt"
              placeholder="可輸入一些容易被辨識錯誤的單詞（人名、地名、專有名詞等等）"
            />
          </div>
          <div class="horizontal-line"></div>
          <input class="submit-button" type="submit" value="Upload" />
        </form>
      </div>
    </div>

    <script>
      // 將表單驗證轉換為 JavaScript
      document
        .querySelector('input[type="submit"]')
        .addEventListener("click", function (event) {
          // 加上 event 參數
          const file = document.querySelector(
            'input[type="file"][name="file"]'
          );
          const youtube = document.querySelector(
            'input[type="text"][name="youtube"]'
          );
          const srt = document.querySelector('input[type="file"][name="srt"]');
          const opening = document.querySelector(
            'input[type="file"][name="opening"]'
          );
          const ending = document.querySelector(
            'input[type="file"][name="ending"]'
          );
          let message = "";
          if (!file.files.length && !youtube.value) {
            message = "請上傳影片或輸入YouTube連結";
          } else if (
            youtube.value &&
            !youtube.value.startsWith("https://www.youtube.com/watch?v=")
          ) {
            message = "YouTube連結格式不正確，請輸入正確的YouTube連結";
          } else if (
            file.files.length &&
            !file.files[0].name.endsWith(".mp4")
          ) {
            message = "影片格式不正確，請上傳mp4格式的影片";
          } else if (srt.files.length && !srt.files[0].name.endsWith(".srt")) {
            message = "字幕格式不正確，請上傳srt格式的字幕";
          } else if (
            opening.files.length &&
            !opening.files[0].name.endsWith(".mp4")
          ) {
            message = "片頭影片格式不正確，請上傳mp4格式的影片";
          } else if (
            ending.files.length &&
            !ending.files[0].name.endsWith(".mp4")
          ) {
            message = "片尾影片格式不正確，請上傳mp4格式的影片";
          }
          console.log(message);
          if (message) {
            alert(message);
            event.preventDefault(); // 阻止表單提交
            return false;
          }

          const uploadingMessage = document.querySelector("#uploading");
          uploadingMessage.style.display = "block";
        });
    </script>
  </body>
</html>
